@import "tailwindcss";

:root {
  --background: #eaedcc;
  --container-primary: #fdfae2;
  --container-secondary: #f8edd0;
  --text-primary: #cca57a;
}

body {
  background: var(--background);
  font-family: "Cabin", sans-serif;
}
